<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>Events</h3>

    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
       href="<%= new_event_path %>">
      Create new event
    </a>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
           style="width: 100%; margin-top: 1rem;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Artist</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= event.artist %></td>
            <td><%= link_to 'Show', event %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>